option_settings:
  # 確保 HTTP listener 存在並設定重定向規則
  aws:elbv2:listener:80:
    Protocol: HTTP
    Rules: redirecthttps
  
  # 配置重定向規則
  aws:elbv2:listenerrule:redirecthttps:
    Priority: 1
    PathPatterns: /*
    Process: redirecthttps
  
  # 定義重定向處理程序
  aws:elasticbeanstalk:environment:process:redirecthttps:
    MatcherHTTPCode: '200'
    HealthCheckPath: /
    Protocol: HTTP
    Port: '80'