option_settings:
  # 確保 HTTP listener 存在並設定重定向規則
  aws:elbv2:listener:80:
    Protocol: HTTP
    Rules: redirect-to-https
  
  # 配置重定向規則
  aws:elbv2:listenerrule:redirect-to-https:
    Priority: 1
    PathPatterns: /*
    Process: redirect-to-https
  
  # 定義重定向處理程序
  aws:elasticbeanstalk:environment:process:redirect-to-https:
    MatcherHTTPCode: '200'
    HealthCheckPath: /
    Protocol: HTTP
    Port: '80'