@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
    border-color: #BEB4FA;
    border-width: 2px;
    margin: 5px;
    min-width: 302px;
    min-height: 280px;
    float: left;
    border-radius: 5%;
    position: relative;
}

.image {
    margin: auto;
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 150px;
    position: absolute;
    top: 25px;
    left: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    margin: 0;
    padding: 0 25px;
    border-color: blue;
    border-top: 1px;
    position: absolute;
    top: 200px;
    min-width: 299px;
    min-height: 199px;
    border-radius: 0 0 5% 5%;
}

.type {
    margin: 0 5px;
    padding: 5px;
    position: absolute;
    border-radius: 50px;
    min-width: 80px;
    right: 15px;
    top: 5px;
    text-align: center;
    font-weight: bold;
    border: 2px solid #d9534f;
}

footer {
    clear: both;
    text-align: center;
}